{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'note_app/form.css' %}">
    <title>insert</title>
</head>
<body>
    <form action="{% url 'form' %}">
        {% csrf_token %}
        <div class="main_container">
            <div class="title_container">
                <label for="">Title</label>
                <input type="text" name="title" id="title"/>
            </div>
    
            <div class="desc_container">
            <label for="title">description</label>
            <textarea name="desc" id="" cols="30" rows="2" spellcheck="false">
            </textarea>

            </div>
            <button>Submit</button>
        </div>
        
    </form>
</body>
</html>