*
{
    padding: 0;
    margin: 0;
}
body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

form
{
    width: 25%;
    /* border: 0.5px solid black; */

    display: flex;
    flex-direction: column;
    margin: auto;
}

form input, form label
{
    width: 100%;
}

label
{
    font-size: 1.5em;
}

.main_container
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.title_container
{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.title_container, .desc_container
{
    font-size: 1.3em;
}

.title_container input
{
    font-size: 1.5em;
    border: none;
    border-bottom: 3px solid #a792cc;
    outline: none;
}
.desc_container
{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

button
{
    margin: auto;
    width: max-content;
    margin-top: 5%;
    border: none;
    background-color: white;
    border-bottom: 3px solid #a792cc;
    cursor: pointer;
    font-size: 1.2em;
}

textarea
{
    font-size: 1.1em;
    color: white;
    font-style: bold;
    border: none;
    background-color:  #a792cc;
    outline: none;
    resize: none;
}